body{
  margin: 0;
}
.background_debris{
  height: 99vh;
  width: 100vw;
}
.spatiale{
  position: absolute;
  top: 23%;
  left: 36%;
  font-size: 11vh;
}
.pollution{
  position: absolute;
  top: 17%;
  left: 41%;
  font-size: 6vh;
}
.text{
  position: absolute;
  z-index: 2;
  top: 42%;
  left: 25%;
  font-size: 3vh;
  text-align: center;
}
