/* @font-face {
  font-family: 'Lato';
  src: url('../fonts/Gordita/gordita_medium-webfont.eot');
  src: url('../fonts/Gordita/gordita_medium-webfont.eot') format('embedded-opentype'),
       url('../fonts/Gordita/gordita_medium-webfont.woff2') format('woff2'),
       url('../fonts/Gordita/gordita_medium-webfont.woff') format('woff'),
       url('../fonts/Gordita/gordita_medium-webfont.otf') format('truetype'),
       url('../fonts/Gordita/gordita_medium-webfont.ttf') format('truetype'),
       url('../fonts/Gordita/gordita_medium-webfont.svg') format('svg');
  font-weight: normal;
  font-style: normal;
} */
@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato/Lato-Light.ttf')  format('truetype'),
       url('../fonts/Lato/Lato-Regular.ttf')  format('truetype'),
       url('../fonts/Lato/Lato-Bold.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}

body{
  font-family: 'Lato', sans-serif;
}
/*header*/
.header{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #000000;
  opacity: 0.8;
  height: 9vh;
  width: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
  z-index: 3;
  font-size: 3vh;
  font-family: 'Lato', sans-serif;
  color: orange;
}
a{
  color: #ffffff;
  text-decoration: none;
}
.logo{
  height: 7vh;
  z-index: 3;
}
.hamburger{
  position: absolute;
  top: 1.45%;
  left: 45%;
  z-index: 4;
  height: 6vh;
  opacity: 0;
  pointer-events: none;
}
.croix{
  text-align: center;
  position: absolute;
  top: 1.45%;
  left: 37%;
  z-index: 2;
  height: 8vh;
  opacity: 0;
}
/*responsive header*/
@media screen and (max-width: 915px){
  .header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #000000;
    opacity: 0.8;
    height: 9vh;
    width: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: 3;
    font-size: 3vh;
    font-family: 'Lato', sans-serif;
  }
  a{
    color: #ffffff;
    text-decoration: none;
    pointer-events: none;
  }
  .logo{
    height: 7vh;
    z-index: 3;
  }
  .text_header{
    opacity: 0;
  }
  .earth_logo{
    position: absolute;
    left: 2%;
    top: 14%;
    height: 6vh;
    z-index: 3;
  }
  .cardboard_logo{
    position: absolute;
    left: 80%;
    top: 12%;
  }
  .hamburger{
    position: absolute;
    top: 1.45%;
    left: 45%;
    z-index: 6;
    height: 6vh;
    opacity: 1;
    pointer-events: painted;
  }
  .menu_hamburger{
    background-color: #000000;
    width: 100%;
    height: 60%;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
  }
  .text_menu{
    margin-top: 20%;
    color: white;
    text-align: center;
    font-size: 6vh;
    padding-bottom: 3%;
    border-bottom: 1px solid white;
  }
  .croix{
    text-align: center;
    position: absolute;
    top: 1.45%;
    left: 37%;
    z-index: 2;
    height: 8vh;
    opacity: 0;
  }
}
/*main*/
.background_intro{
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0%;
  top: 0%;
  z-index: 2;
}
.text_central{
  display: flex;
  justify-content: center;
}
.tittle_accueil{
  position: absolute;
  z-index: 4;
  top: 35%;
  color: white;
  font-size: 5vh;
  text-align: center;
}
.scroll_accueil{
  position: absolute;
  z-index: 4;
  top: 80%;
  color: white;
  font-size: 4vh;
  text-align: center;
}
.tittle_accroche{
  position: absolute;
  z-index: 4;
  top: 105%;
  color: white;
  font-size: 3.5vh;
  text-transform: uppercase;
  text-align: center;
}
.text_accroche{
  z-index: 4;
  position: absolute;
  top: 122%;
  left: 53%;
  color: white;
  font-size: 3.5vh;
  text-align: center;
  padding-left: 2vw;
  padding-right: 2vw;
}
.bazar{
  height: 60vh;
  width : 50vw;
  position: absolute;
  top: 126%;
  left: 2%;
  z-index: 4;
  border-radius: 10vh;
}
.text_recap{
  z-index: 4;
  position: absolute;
  top: 225%;
  left: 5%;
  color: white;
  font-size: 3.5vh;
  text-align: center;
  width: 48%;
}
.spoutnik{
  height: 40vh;
  width : 40vw;
  position: absolute;
  top: 235%;
  left: 57%;
  z-index: 4;
  border-radius: 10vh;
}
.trait_accroche_left{
  height: 15vh;
  width: 0.2vw;
  background-color: white;
  transform: rotate(90deg);
  position: absolute;
  top: 103%;
  left: 27%;
  z-index: 4;
}
.trait_accroche_right{
  height: 15vh;
  width: 0.2vw;
  background-color: white;
  transform: rotate(90deg);
  position: absolute;
  top: 103%;
  left: 73%;
  z-index: 4;
}
.tittle_recap{
  position: absolute;
  z-index: 4;
  top: 205%;
  color: white;
  font-size: 3.5vh;
  text-transform: uppercase;
  text-align: center;
}
.trait_recap_left{
  height: 15vh;
  width: 0.2vw;
  background-color: white;
  transform: rotate(90deg);
  position: absolute;
  top: 203%;
  left: 27%;
  z-index: 4;
}
.trait_recap_right{
  height: 15vh;
  width: 0.2vw;
  background-color: white;
  transform: rotate(90deg);
  position: absolute;
  top: 203%;
  left: 73%;
  z-index: 4;
}
.tittle_VR{
  position: absolute;
  z-index: 4;
  top: 430%;
  color: white;
  font-size: 5.5vh;
  text-align: center;
}

.trait_VR_left{
  height: 15vh;
  width: 0.2vw;
  background-color: white;
  transform: rotate(90deg);
  position: absolute;
  top: 437%;
  left: 26%;
  z-index: 4;
}
.trait_VR_right{
  height: 15vh;
  width: 0.2vw;
  background-color: white;
  transform: rotate(90deg);
  position: absolute;
  top: 437%;
  left: 74%;
  z-index: 4;
}
.trait_VR_coin_left{
  height: 15vh;
  width: 0.2vw;
  background-color: white;
  transform: rotate(90deg);
  position: absolute;
  top: 400%;
  left: 90%;
  z-index: 4;
}
.trait_VR_coin_left_plat{
  height: 15vh;
  width: 0.2vw;
  background-color: white;
  position: absolute;
  top: 475%;
  left: 5%;
  z-index: 4;
}
.trait_VR_coin_right{
  height: 15vh;
  width: 0.2vw;
  background-color: white;
  transform: rotate(90deg);
  position: absolute;
  top: 485%;
  left: 10%;
  z-index: 4;
}
.trait_VR_coin_right_plat{
  height: 15vh;
  width: 0.2vw;
  background-color: white;
  position: absolute;
  top: 410%;
  left: 95%;
  z-index: 4;
}
.subtittle_VR{
  position: absolute;
  z-index: 4;
  top: 448%;
  color: white;
  font-size: 3vh;
  text-align: center;
}
.background_accroche{
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0%;
  top: 100%;
}
.background_recap{
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0%;
  top: 200%;
}
.background_space{
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0%;
  top: 300%;
}
.background_VR{
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0%;
  top: 400%;
  background-color: #000000;
}
.circle_space{
  border-radius: 50%;
  border: solid 0.25vh white;
  height: 10vh;
  width: 10vh;
  position: absolute;
  top: 315%;
  left: 51%;
  z-index: 4;
}

.circle_earth{
  border-radius: 50%;
  border: solid 0.25vh white;
  height: 10vh;
  width: 10vh;
  position: absolute;
  top: 355%;
  left: 32%;
  z-index: 4;
}

.circle_mars{
  border-radius: 50%;
  border: solid 0.25vh white;
  height: 10vh;
  width: 10vh;
  position: absolute;
  top: 380%;
  left: 76%;
  z-index: 4;
}

.trait_earth{
  height: 15vh;
  width: 0.1vw;
  background-color: white;
  transform: rotate(45deg);
  position: absolute;
  top: 348%;
  left: 37.5%;
  z-index: 4;
  opacity: 0;
}
.trait_mars{
  height: 15vh;
  width: 0.1vw;
  background-color: white;
  transform: rotate(-45deg);
  position: absolute;
  top: 373%;
  left: 76%;
  z-index: 4;
  opacity: 0;
}

.trait_space{
  height: 15vh;
  width: 0.1vw;
  background-color: white;
  transform: rotate(-45deg);
  position: absolute;
  top: 319%;
  left: 56%;
  z-index: 4;
  opacity: 0;
}

.tittle_mars{
  position: absolute;
  top: 369.5%;
  left: 52%;
  font-size: 3vh;
  text-transform: uppercase;
  z-index: 4;
  color: white;
  opacity: 0;
}

.tittle_earth{
  position: absolute;
  top: 328%;
  left: 59%;
  font-size: 3vh;
  text-transform: uppercase;
  z-index: 4;
  color: white;
  opacity: 0;
}

.tittle_space{
  position: absolute;
  top: 345.5%;
  left: 41%;
  font-size: 3vh;
  text-transform: uppercase;
  z-index: 4;
  color: white;
  opacity: 0;
}
.text_earth{
  color: white;
  z-index: 4;
  font-size: 3vh;
  position: absolute;
  top: 352.5%;
  left: 41%;
  opacity: 0;
}
.text_mars{
  color: white;
  z-index: 4;
  font-size: 3vh;
  position: absolute;
  top: 377%;
  left: 43.5%;
  text-align: right;
  opacity: 0;
}
.text_space{
  color: white;
  z-index: 4;
  font-size: 3vh;
  position: absolute;
  top: 335.5%;
  left: 59%;
  opacity: 0;
}
.button{
  height: 15%;
  width: 60%;
  z-index: 3;
  position: absolute;
  left: 20%;
  top: 460%;
  display: flex;
  justify-content: space-around;
}
.computer{
  position: absolute;
  top: 460%;
  left: 58%;
  background-color: #ffffff;
  color: #000000;
  height: 4vh;
  width: 9vw;
  z-index: 4;
  border-radius: 20vh;
  font-size: 3vh;
  text-align: center;
}
.phone{
  position: absolute;
  top: 460%;
  left: 35%;
  background-color: #ffffff;
  color: #000000;
  height: 4vh;
  width: 7vw;
  z-index: 4;
  border-radius: 20vh;
  font-size: 3vh;
  text-align: center;
}
.js_trait_earth{
  opacity: 0;
}
@media screen and (max-width: 915px){
  .trait_VR_left{
    height: 15vh;
    width: 0.2vw;
    background-color: white;
    transform: rotate(90deg);
    position: absolute;
    top: 442%;
    left: 32%;
    z-index: 4;
    opacity: 0;
  }
  .trait_VR_right{
    height: 15vh;
    width: 0.2vw;
    background-color: white;
    transform: rotate(90deg);
    position: absolute;
    top: 442%;
    left: 68%;
    z-index: 4;
    opacity: 0;
  }
  .trait_accroche_left{
    height: 15vh;
    width: 0.2vw;
    background-color: white;
    transform: rotate(90deg);
    position: absolute;
    top: 442%;
    left: 32%;
    z-index: 4;
    opacity: 0;
  }
  .trait_accroche_right{
    height: 15vh;
    width: 0.2vw;
    background-color: white;
    transform: rotate(90deg);
    position: absolute;
    top: 442%;
    left: 68%;
    z-index: 4;
    opacity: 0;
  }
  .trait_recap_left{
    height: 15vh;
    width: 0.2vw;
    background-color: white;
    transform: rotate(90deg);
    position: absolute;
    top: 442%;
    left: 32%;
    z-index: 4;
    opacity: 0;
  }
  .trait_recap_right{
    height: 15vh;
    width: 0.2vw;
    background-color: white;
    transform: rotate(90deg);
    position: absolute;
    top: 442%;
    left: 68%;
    z-index: 4;
    opacity: 0;
  }
  .trait_VR_coin_left{
    height: 15vh;
    width: 0.2vw;
    background-color: white;
    transform: rotate(90deg);
    position: absolute;
    top: 396%;
    left: 76%;
    z-index: 4;
  }
  .trait_VR_coin_left_plat{
    height: 15vh;
    width: 0.2vw;
    background-color: white;
    position: absolute;
    top: 478%;
    left: 5%;
    z-index: 4;
  }
  .trait_VR_coin_right{
    height: 15vh;
    width: 0.2vw;
    background-color: white;
    transform: rotate(90deg);
    position: absolute;
    top: 488%;
    left: 25%;
    z-index: 4;
  }
  .trait_VR_coin_right_plat{
    height: 15vh;
    width: 0.2vw;
    background-color: white;
    position: absolute;
    top: 407%;
    left: 95%;
    z-index: 4;
  }
  .tittle_accueil{
    margin-top: -10vh;
    width: 80vw;
  }
  .tittle_accroche{
    margin-top: -2vh;
  }
  .text_accroche{
    padding-right: 2vw;
    margin-top: -12vh;
    font-size: 2.5vh;
  }
  .bazar{
    width: 45vw;
    height: auto;
    margin-top: 15vh;
  }
  .tittle_recap{
    margin-top: -2vh;
  }
  .text_recap{
    padding-right: 2vw;
    margin-top: -12vh;
    font-size: 2.5vh;
  }
  .spoutnik{
    width: 40vw;
    height: auto;
    margin-top: 15vh;
  }
}
/*FOOTER*/
footer{
  width: 100%;
  height: 42%;
  position: absolute;
  left: 0%;
  top: 500%;
  background-color: #000000;
  border-top: 1px solid #ffffff;
  font-size: 4vh;
  text-align: center;
  justify-content: space-around;
}
.tittle_footer{
  position: absolute;
  top: 7%;
  left: 16%;
  z-index: 4;
  color: white;
}
.tittle_assoc{
  position: absolute;
  top: 7%;
  left: 63%;
  z-index: 4;
  color: white;
}
.mentions_legales{
  position: absolute;
  left: 0%;
  top: 0%;
  z-index: 4;
  color: white;
  font-size: 3vh;
}
.tittle_assoc{
  position: absolute;
  top: 7%;
  left: 63%;
  z-index: 4;
  color: white;
}
.mentions_legales{
  position: absolute;
  top: 85%;
  left: 89%;
  z-index: 4;
  color: white;
  font-size: 3vh;
}
.trait_footer{
  height: 15vh;
  width: 0.1vw;
  background-color: white;
  position: absolute;
  transform: rotate(0deg);
  top: 25%;
  left: 50%;
  z-index: 4;
  }
.part_left_footer{
  position: absolute;
  left: 0%;
  width:50%;
  height: 100%;
  display: flex;
  justify-content: space-around;
}
.part_right_footer{
  color: white;
  position: absolute;
  left: 50%;
  width:50%;
  height: 100%;
  display: flex;
  justify-content: space-around;
}
.col_left{
  padding-top: 10%;
  display: flex;
  flex-direction: column;
}
.col_right{
    padding-top: 10%;
  display: flex;
  flex-direction: column;
}
.test_3D{
 width: 50px;
 height: 50px;
 background-color: white;
 z-index : 100;
 position: absolute;
}

/*responsive footer*/
@media screen and (max-width: 915px){
  footer{
    width: 100%;
    height: 150%;
    background-color: #000000;
    border-top: 1px solid #ffffff;
    font-size: 5vh;
  }
  .computer{
    position: absolute;
    top: 460%;
    left: 58%;
    background-color: #ffffff;
    color: #000000;
    height: 5vh;
    width: 30vw;
    z-index: 4;
    border-radius: 20vh;
    font-size: 3vh;
    text-align: center;
  }
  .phone{
    position: absolute;
    top: 460%;
    left: 20%;
    background-color: #ffffff;
    color: #000000;
    height: 5vh;
    width: 30vw;
    z-index: 4;
    border-radius: 20vh;
    font-size: 3vh;
    text-align: center;
  }
  .tittle_footer{
    opacity: 0;
  }
  .tittle_assoc{
      opacity: 0;
  }
  .mentions_legales{
    position: absolute;
    left: 30%;
    margin-top: 20%;
    z-index: 4;
    color: white;
    font-size: 3vh;
  }
  .trait_footer{
    height: 15vh;
    width: 0.1vw;
    background-color: white;
    position: absolute;
    transform: rotate(0deg);
    top: 30%;
    left: 50%;
    z-index: 4;
    opacity: 0;
    }
  .part_left_footer{
    display: flex;
    flex-direction: column;
    left: 25%;
    position: absolute;
    bottom: 15%;
    width: 50%;
  }
  .part_right_footer{
    color: white;
    position: absolute;
    top: 6%;
    left: 25%;
    width: 50%;
    display: flex;
    flex-direction: column;
  }
}
