/*header*/
.header{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #000000;
  opacity: 0.7;
  height: 7vh;
  width: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
  z-index: 3;
  font-size: 3vh;
}
a{
  color: #ffffff;
  text-decoration: none;
}
.logo_earth{
  height: 5vh;
}
/*main*/
.background_intro{
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0%;
  top: 0%;
  z-index: 2;
}
.text_central{
  display: flex;
  justify-content: center;
}
.tittle_accueil{
  position: absolute;
  z-index: 4;
  top: 35%;
  color: white;
  font-size: 5vh;
  text-align: center;
}
.scroll_accueil{
  position: absolute;
  z-index: 4;
  top: 80%;
  color: white;
  font-size: 4vh;
  text-align: center;
}

.tittle_accroche{
  position: absolute;
  z-index: 4;
  top: 105%;
  color: white;
  font-size: 4vh;
  text-align: center;
}
.trait_accroche_left{
  height: 15vh;
  width: 0.2vw;
  background-color: white;
  transform: rotate(90deg);
  position: absolute;
  top: 104%;
  left: 32%;
  z-index: 4;
}
.trait_accroche_right{
  height: 15vh;
  width: 0.2vw;
  background-color: white;
  transform: rotate(90deg);
  position: absolute;
  top: 104%;
  left: 68%;
  z-index: 4;
}
.tittle_recap{
  position: absolute;
  z-index: 4;
  top: 205%;
  color: white;
  font-size: 4vh;
  text-align: center;
}
.trait_recap_left{
  height: 15vh;
  width: 0.2vw;
  background-color: white;
  transform: rotate(90deg);
  position: absolute;
  top: 204%;
  left: 32%;
  z-index: 4;
}
.trait_recap_right{
  height: 15vh;
  width: 0.2vw;
  background-color: white;
  transform: rotate(90deg);
  position: absolute;
  top: 204%;
  left: 68%;
  z-index: 4;
}
.background_accroche{
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0%;
  top: 100%;
}
.background_recap{
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0%;
  top: 200%;
}
.background_space{
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0%;
  top: 300%;
}

.circle_space{
  border-radius: 50%;
  border: solid 0.25vh white;
  height: 10vh;
  width: 10vh;
  position: absolute;
  top: 315%;
  left: 51%;
  z-index: 4;
}

.circle_earth{
  border-radius: 50%;
  border: solid 0.25vh white;
  height: 10vh;
  width: 10vh;
  position: absolute;
  top: 355%;
  left: 32%;
  z-index: 4;
}

.circle_mars{
  border-radius: 50%;
  border: solid 0.25vh white;
  height: 10vh;
  width: 10vh;
  position: absolute;
  top: 380%;
  left: 76%;
  z-index: 4;
}

.trait_earth{
  height: 15vh;
  width: 0.1vw;
  background-color: white;
  transform: rotate(45deg);
  position: absolute;
  top: 348%;
  left: 37.5%;
  z-index: 4;
}
.trait_mars{
  height: 15vh;
  width: 0.1vw;
  background-color: white;
  transform: rotate(-45deg);
  position: absolute;
  top: 373%;
  left: 76%;
  z-index: 4;
}

.trait_space{
  height: 15vh;
  width: 0.1vw;
  background-color: white;
  transform: rotate(-45deg);
  position: absolute;
  top: 318%;
  left: 56%;
  z-index: 4;
}

.tittle_mars{
  position: absolute;
  top: 369.5%;
  left: 59%;
  font-size: 3vh;
  z-index: 4;
  color: white;
}

.tittle_earth{
  position: absolute;
  top: 328%;
  left: 59%;
  font-size: 3vh;
  z-index: 4;
  color: white;
}

.tittle_space{
  position: absolute;
  top: 345.5%;
  left: 41%;
  font-size: 3vh;
  z-index: 4;
  color: white;
}

.test_3D{
 width: 50px;
 height: 50px;
 background-color: white;
 z-index : 100;
 position: absolute;
}
