@font-face {
  font-family: 'gordita_medium';
  src: url('../fonts/Gordita/gordita_medium-webfont.eot');
  src: url('../fonts/Gordita/gordita_medium-webfont.eot') format('embedded-opentype'),
       url('../fonts/Gordita/gordita_medium-webfont.woff2') format('woff2'),
       url('../fonts/Gordita/gordita_medium-webfont.woff') format('woff'),
       url('../fonts/Gordita/gordita_medium-webfont.otf') format('truetype'),
       url('../fonts/Gordita/gordita_medium-webfont.ttf') format('truetype'),
       url('../fonts/Gordita/gordita_medium-webfont.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

body{
margin: 0;
overflow-x: hidden;
}
/*header*/
.header{
display: flex;
justify-content: space-around;
align-items: center;
background-color: #000000;
opacity: 0.7;
height: 7vh;
width: 100%;
position: absolute;
top: 0;
font-family: 'gordita_medium', sans-serif;

}
a{
color: #ffffff;
text-decoration: none;
font-size: 3vh;
}
.logo_earth{
height: 5vh;
}
/*main*/
.background_debris{
height: 99vh;
width: 100vw;
}
.spatiale{
position: absolute;
top: 23%;
font-size: 11vh;
}
.pollution{
position: absolute;
top: 17%;
font-size: 6vh;
}
.text{
position: absolute;
z-index: 2;
top: 42%;
font-size: 3vh;
text-align: center;
}

.solutions{
height: 8vh;
width: 15vw;
position: absolute;
top: 85%;
border-radius: 4vh;
opacity: 0.8;
font-size: 3vh;
border: 1px solid black;
}
.alignement{
display: flex;
justify-content: center;
}
.current_page{
border-bottom: 1px solid #ffffff;
}



.background_planete{
height: 130vh;
width: 100vw;
position: absolute;
top: 82%;
left: 0;
}

.background_planete_2{
 height: 130vh;
 width: 100vw;
 position: absolute;
 top:197%;
}

.background_planete_3{
 height: 180vh;
 width: 100vw;
 position: absolute;
 top:302%;
}




.text_central{
display: flex;
justify-content: center;
}
.tittle_accroche{
position: absolute;
z-index: 4;
top: 105%;
color: white;
font-size: 4vh;
text-align: center;
}

.trait_accroche_left{
height: 15vh;
width: 0.2vw;
background-color: white;
transform: rotate(90deg);
position: absolute;
top: 104%;
left: 32%;
z-index: 4;
}
.trait_accroche_right{
height: 15vh;
width: 0.2vw;
background-color: white;
transform: rotate(90deg);
position: absolute;
top: 104%;
left: 68%;
z-index: 4;
}

.text_page_2{
font-size: 3vh;
text-align: center;
color: white;

}
.text_page_2_1{
position:absolute;
z-index :5;
top: 124%;
right: 22%;
}
.text_page_2_2{
position:absolute;
z-index :5;
top: 138%;
right: 32%;

}
.text_page_2_3{
position:absolute;
z-index :5;
top: 155%;
right: 42%;

}
.text_page_2_4{
position:absolute;
z-index :5;
top: 175%;
right: 52%;
}



.tittle_accroche_page_2{
 position: absolute;
 z-index: 4;
 top: 205%;
 color: white;
 font-size: 4vh;
 text-align: center;
}

.trait_accroche_left_page_2{
 height: 15vh;
 width: 0.2vw;
 background-color: white;
 transform: rotate(90deg);
 position: absolute;
 top: 204%;
 left: 32%;
 z-index: 4;
}
.trait_accroche_right_page_2{
 height: 15vh;
 width: 0.2vw;
 background-color: white;
 transform: rotate(90deg);
 position: absolute;
 top: 204%;
 left: 68%;
 z-index: 4;
}

.text_page_3{
 font-size: 3vh;
 text-align: center;
 color: white;

}
.text_page_3_1{
 position:absolute;
 z-index :5;
 top: 230%;
 left: 5%;
}
.text_page_3_2{
 position:absolute;
 z-index :5;
 top: 268%;
 right: 5%;

}
.text_page_3_3{
 position:absolute;
 z-index :5;
 top: 315%;
 left: 5%;

}

.fusee{
 position: absolute;
 z-index:7;
 top: 268%;
 left: 12%;
 width: 50vh;
 height:auto;
}

.dechet{
 position: absolute;
 z-index:7;
 top: 308%;
 right: 10%;
 width: 50vh;
 height:auto;
}


.tittle_accroche_page_3{
 position: absolute;
 z-index: 4;
 top: 365%;
 color: white;
 font-size: 4vh;
 text-align: center;
}

.trait_accroche_left_page_3{
 height: 15vh;
 width: 0.2vw;
 background-color: white;
 transform: rotate(90deg);
 position: absolute;
 top: 365%;
 left: 32%;
 z-index: 4;
}
.trait_accroche_right_page_3{
 height: 15vh;
 width: 0.2vw;
 background-color: white;
 transform: rotate(90deg);
 position: absolute;
 top: 365%;
 left: 68%;
 z-index: 4;
}

.text_page_4{
 font-size: 3vh;
 text-align: center;
 color: white;

}
.text_page_4_1{
 position:absolute;
 z-index :5;
 top: 385%;
 left: 25%;
}
.text_page_4_2{
 position:absolute;
 z-index :5;
 top: 455%;
 left: 25%;

}

.falcon_1{
  position: absolute;
  z-index:7;
  top: 418%;
  left: 10%;
  width:55vh;
  height: auto;
}

.falcon_2{
  position: absolute;
  z-index:7;
  top: 418%;
  right: 10%;
  width:55vh;
  height: auto;

}

p{
  width: 720px
}

.background_VR{
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0%;
  top: 480%;
  background-color: #000000;
}

.tittle_VR{
  position: absolute;
  z-index: 4;
  top: 520%;
  color: white;
  font-size: 5.5vh;
  text-align: center;
}

.trait_VR_left{
  height: 15vh;
  width: 0.2vw;
  background-color: white;
  transform: rotate(90deg);
  position: absolute;
  top: 522%;
  left: 32%;
  z-index: 4;
}
.trait_VR_right{
  height: 15vh;
  width: 0.2vw;
  background-color: white;
  transform: rotate(90deg);
  position: absolute;
  top: 522%;
  left: 68%;
  z-index: 4;
}
.trait_VR_coin_left{
  height: 15vh;
  width: 0.2vw;
  background-color: white;
  transform: rotate(90deg);
  position: absolute;
  top: 480%;
  left: 90%;
  z-index: 4;
}
.trait_VR_coin_left_plat{
  height: 15vh;
  width: 0.2vw;
  background-color: white;
  position: absolute;
  top: 555%;
  left: 5%;
  z-index: 4;
}
.trait_VR_coin_right{
  height: 15vh;
  width: 0.2vw;
  background-color: white;
  transform: rotate(90deg);
  position: absolute;
  top: 565%;
  left: 10%;
  z-index: 4;
}
.trait_VR_coin_right_plat{
  height: 15vh;
  width: 0.2vw;
  background-color: white;
  position: absolute;
  top: 490%;
  left: 95%;
  z-index: 4;
}

.subtittle_VR{
  position: absolute;
  z-index: 4;
  top: 528%;
  color: white;
  font-size: 3vh;
  text-align: center;
}

.button{
  height: 15%;
  width: 60%;
  z-index: 10;
  position: absolute;
  left: 20%;
  top: 540%;
  display: flex;
  justify-content: space-around;
}

.computer{
  background-color: #ffffff;
  color: #000000;
  height: 4vh;
  width: 7vw;
  z-index: 11;
  border-radius: 20vh;
  font-size: 3vh;
  align-items: center;
  justify-content: center;
}
.phone{
  background-color: #ffffff;
  color: #000000;
  height: 4vh;
  width: 7vw;
  z-index: 11;
  border-radius: 20vh;
  font-size: 3vh;
  display: flex;
  justify-content: center;
}

footer{
  width: 100%;
  height: 30%;
  position: absolute;
  left: 0%;
  top: 580%;
  background-color: #000000;
  border-top: 1px solid #ffffff;
  font-size: 2vh;
  text-align: center;
  justify-content: space-around;
}
.tittle_footer{
  position: absolute;
  margin: 0 auto;
  padding-top: 2vh;
  z-index: 4;
  color: white;
}
.tittle_assoc{
  position: absolute;
  margin: 0 auto;
  padding-top: 2vh;
  z-index: 4;
  color: white;
}
.mentions_legales{
  position: absolute;
  top: 85%;
  left: 89%;
  z-index: 4;
  color: white;
  font-size: 3vh;
}
.mentions_legales{
  position: absolute;
  top: 85%;
  left: 89%;
  z-index: 4;
  color: white;
  font-size: 3vh;
}
.trait_footer{
  height: 15vh;
  width: 0.1vw;
  background-color: white;
  position: absolute;
  transform: rotate(0deg);
  top: 25%;
  left: 50%;
  z-index: 4;
}
.part_left_footer{
  position: absolute;
  left: 0%;
  width:50%;
  height: 100%;
  display: flex;
  justify-content: space-around;
}
.part_right_footer{
  color: white;
  position: absolute;
  left: 50%;
  width:50%;
  height: 100%;
  display: flex;
  justify-content: space-around;
}
.col_left{
  padding-top: 10%;
  display: flex;
  flex-direction: column;
}
.col_right{
    padding-top: 10%;
  display: flex;
  flex-direction: column;
}
.test_3D{
 width: 50px;
 height: 50px;
 background-color: white;
 z-index : 100;
 position: absolute;
}
@media screen and (max-width:1340px){


  .text_page_2_1{
  position:absolute;
  z-index :5;
  top: 124%;
  left: 0;
  right: 0;
  margin: 0 auto


  }
  .text_page_2_2{
  position:absolute;
  z-index :5;
  top: 138%;
  left: 0;
  right: 0;
  margin: 0 auto
  }
  .text_page_2_3{
  position:absolute;
  z-index :5;
  top: 155%;
  left: 0;
  right: 0;
  margin: 0 auto

  }
  .text_page_2_4{
  position:absolute;
  z-index :5;
  top: 175%;
  left: 0;
  right: 0;
  margin: 0 auto
  }



  .text_page_3_1{
   position:absolute;
   z-index :5;
   top: 230%;
   left: 0;
   right: 0;
   margin: 0 auto
  }
  .text_page_3_2{
   position:absolute;
   z-index :5;
   top: 300%;
   left: 0;
   right: 0;
   margin: 0 auto
  }
  .text_page_3_3{
   position:absolute;
   z-index :5;
   top: 365%;
   left: 0;
   right: 0;
   margin: 0 auto

  }

  .fusee{
   position: absolute;
   z-index:7;
   top: 258%;
   left: 0;
   right: 0;
   margin: 0 auto;
  width: 50vh;
   height:auto;
  }

  .dechet{
   position: absolute;
   z-index:7;
   top: 328%;
   left: 0;
   right: 0;
   margin: 0 auto;
  width: 50vh;
   height:auto;
  }





  .tittle_accroche_page_3{
   position: absolute;
   z-index: 4;
   top: 390%;
   color: white;
   font-size: 4vh;
   text-align: center;
  }

  .trait_accroche_left_page_3{
   height: 15vh;
   width: 0.2vw;
   background-color: white;
   transform: rotate(90deg);
   position: absolute;
   top: 390%;
   left: 32%;
   z-index: 4;
  }
  .trait_accroche_right_page_3{
   height: 15vh;
   width: 0.2vw;
   background-color: white;
   transform: rotate(90deg);
   position: absolute;
   top: 390%;
   left: 68%;
   z-index: 4;
  }

  .text_page_4_1{
   position:absolute;
   z-index :5;
   top: 405%;
   left: 0;
   right: 0;
   margin: 0 auto
   }
  .text_page_4_2{
   position:absolute;
   z-index :5;
   top: 470%;
   left: 0;
   right: 0;
   margin: 0 auto
  }

  .falcon_1{
    position: absolute;
    z-index:7;
    top: 430%;
    left: 0;
    right: 0;
    margin: 0 auto;
    width:55vh;
    height: auto;
  }

  .falcon_2{
    position: absolute;
    z-index:7;
    top: 490%;
    left: 0;
    right: 0;
    margin: 0 auto;
    width:55vh;
    height: auto;

  }

  .background_planete_3{
   height: 230vh;
   width: 100vw;
   position: absolute;
   top:302%;
  }


}




@media screen and (max-width:700px){




body{
  margin-right: 0;
  left: 45%;
}
  .pollution{
    left:70%;
    width : 700px;
    font-size: 12vh;

  }

  .spatiale{
    font-size: 16vh;
    left:47%;
    top: 34%;

  }

  .text{
    left: 20%;
    top: 64%;
    font-size: 7vh;
    width: 1000px;

  }



.solutions {
  height: 200px;
width: 500px;
    position: absolute;
    top: 185%;
    left: 60%;
  border-radius: 10vh;
    opacity: 0.8;
    font-size: 7vh;
    border: 1px solid black;
}


.text_page_2_1 {
  left: 45%;
    margin: 0 auto;
    top: 300%;
    font-size: 7vh

}
.text_page_2_2 {
  left: 45%;
    margin: 0 auto;
    top: 340%;
    font-size: 7vh
}
.text_page_2_3 {
  left: 45%;
    margin: 0 auto;
    top: 410%;
    font-size: 7vh
}
.text_page_2_4 {
  left: 45%;
    margin: 0 auto;
    top: 480%;
    font-size: 7vh

}

.tittle_accroche {

  left: 50%;
  top : 220%;
  font-size: 12vh;

}
.trait_accroche_left{
  display: none;
}

.trait_accroche_right{
  display: none;
}



.text_page_3_1 {
  left: 45%;
    margin: 0 auto;
    top: 600%;
    font-size: 7vh
}
.text_page_3_2 {
  left: 45%;
    margin: 0 auto;
    top: 800%;
    font-size: 7vh
}
.text_page_3_3 {
  left: 45%;
    margin: 0 auto;
    top: 980%;
    font-size: 7vh;
}

.tittle_accroche_page_2 {

  left: 50%;
  top : 550%;
  font-size: 12vh;
}
.trait_accroche_left_page_2{
  display: none;
}

.trait_accroche_right_page_2{
  display: none;
}



.fusee{
  left: 45%;
  top: 710%;
  width: 100vh

}

.dechet{
  left: 45%;
  top: 900%;
  width: 100vh


}

.tittle_accroche_page_3 {

  left: 50%;
  top : 1050%;
  font-size: 12vh;
}
.trait_accroche_left_page_3{
  display: none;
}

.trait_accroche_right_page_3{
  display: none;
}

.text_page_4_1 {
  left: 45%;
    margin: 0 auto;
    top: 1100%;
    font-size: 7vh;
}
.text_page_4_2 {
  left: 45%;
    margin: 0 auto;
    top: 1300%;
    font-size: 7vh;
}
.text_page_4_3 {
  left: 45%;
    margin: 0 auto;
    top: 1500%;
    font-size: 7vh;
     }
.falcon_1{
  left: 45%;
  top: 1215%;
  width: 100vh

}

.falcon_2{
  left: 45%;
  top: 1400%;
  width: 100vh

}
.responsive{
  display: none;
}

body{
 background-image: url("../images/spaceempty.jpeg");
 background-attachment: fixed;
 color: white;
}




 }
